<div class="notice--warning">

    <h1>⚠ שימו לב - העמקה</h1>
    <hr />
    <br />
    <div style="display: flex; align-items: flex-start;">

        <div style="width: 33%;">
            <img src="/assets/images/deep.jpg" alt="Image Description"
                style="height: 100%; width: auto; display: block; ">
        </div>
        <div style="flex: 1; padding: 20px; margin-top: 0;">
            <p>
                זהו מסוגי הפוסטים שבהם אני נכנס מאוד לעומק
                בנושא שבדרך כלל אני עובר עליו מהר כשאני מעביר שיעורים
                פרונטליים. בדרך כלל הנושא שלהם מסתכם בכמה שקופיות במצגת
                פאוור פוינט, לפעמים אפילו שקופית אחת.
            </p>

        </div>
    </div>
    <p>
        <b>
            <a href="#נקודות-עיקריות">
                הפוסט מסתיים ברשימת נקודות עיקריות
            </a>
            - להבין אותן זה מספיק.</b>

    </p>

</div>
