
<p>
אני מנסה לצרף לאתר גם את המצגות שלי, שאני מציג איתן את החומר וההרצאות שאני מעביר.
</p>

<p>
המצגת בפני עצמה לאו דווקא מספיקה ב-100% ללימוד עצמי, כי אני לרוב מדבר לידה, ואני לא שם במצגות את כל מה שאני הולך לומר אלא משהו שילווה את מה שאני אומר. הן כן נועדו להיות ידידותיות כמה שאפשר כדי שתלמידות יוכלו להשלים הרצאות שפספסו או לחזור על הרצאות שהיו בהן. אני כן מנסה לכתוב את הבלוג כמשלים למצגות, וכדי לשתף ידע עם תלמידים ומנטורים מחוץ לקבוצה שלנו, אבל דעו גם שבפוסטים אני לעתים קרובות גם נכנס לעומק לדברים שבמצגות אני עובר עליהן. כלומר, לעתים קרובות שקופית אחת במצגת הופכת לפוסט שלוקח עשר דקות לקרוא. 
</p>

<p>
המצגת הזו היא מצגת מספר {{ include.number }} לפי סדר הלימוד שאני מעביר, והיא כוללת את הנושאים הבאים:
</p>

{{ include.toc | | markdownify }}

{% include embed-ppt.html filename=include.filename %}
