<div class="notice--success">
    <details open>
        <summary>
            <u class="java-python-header">Java לדוברות פייתון</u>
            <p class="java-python-description">
                חלק מהתלמידות שלי מגיעות עם רקע של פייתון. מדי פעם אני משווה בין Java לפייתון כדי לעזור להן להבין את
                Java. 
                חלונית זו רלוונטית רק למי שמגיעה מרקע של פייתון וניתן לפתוח ולסגור אותה בעזרת המשולש בצד.
            </p>
            <hr/>
        </summary>
        {{ include.content | markdownify }}
    </details>
</div>